.App {
  display: flex;
  text-align: center;

  flex-direction: column;
  

}
.App-name{
  margin: 10px;
  width: 40%;
  float: center;;
}
.menu{
  margin: 5%;
  pointer-events: none;
  float: right;
}
.App-logo2 {
  width: auto;
  height: auto;
  max-width: 100px;
  max-height: 100px;
  pointer-events: none;
}
.App-logo3 {
  width: auto;
  height: auto;
  max-width: 100px;
  max-height: 100px;
  pointer-events: none;
}
.map {
  height: 50vh;
  z-index: 4;
}
.header {
 /* background-color: #282c34;*/
 background-image: linear-gradient(to top, rgba(128, 124, 124, 0.377) 0%, rgba(58, 54, 54, 0.116) 100%);
 display: flex;
  height: 5%;
  width: 100%;
  align-items: center;
  justify-content: space-between;

}
.Knock_logo1 {
  width: auto;
  height: auto;
  max-width: 100px;
  max-height: 100px;
  pointer-events: none;
  
}



