.App {
  text-align: center;
  
}
.App-name{
  margin: 10px;
  width: 40%;
  float: center;;
  
}

.menu{
  margin: 5%;
  pointer-events: none;
  float: right;
}

.App-logo2 {
  width: auto;
  height: auto;
  max-width: 100px;
  max-height: 100px;
  pointer-events: none;
}
.App-logo3 {
  width: auto;
  height: auto;
  max-width: 100px;
  max-height: 100px;
  pointer-events: none;
}
.map {
  height: 50vh;
  z-index: 4;
}


.header {
 /* background-color: #282c34;*/
 background-image: linear-gradient(to top, #ff5370 0%, #ffb199 100%);
 display: flex;
  height: 5%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border: 1px solid red;
  margin-right:1%;
}
.Knock_logo1 {
  width: auto;
  height: auto;
  max-width: 100px;
  max-height: 100px;
  pointer-events: none;
  
}